<div class="page_title">
    <h1>Set up retail store</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">

            <%- if @company.errors.any? %>
                <div class="column_error">
                    <p>The following errors prevented your store from being created:</p>
                    <ul>
                        <% @company.errors.full_messages.each do |error| %>
                            <li><%= error %></li>
                        <% end %>
                    </ul>
                </div>
            <% end -%>


            <%= form_for @company, url: [@company, :store], method: :post do |f| %>
            <div class="column_sub_content">
                <div class="column_form">
                    <div class="column_form_item">
                        <label class="column_form_label" style="width:112px">Subdomain for your store:</label>
                        <div class="column_form_input"><%= f.text_field :retail_subdomain, autofocus: true %></div>
                        <div class="column_help_tooltip" id="company_retail_subdomain"></div>
                    </div>
                </div>
            </div>

           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "create store" %></div>
                <div class="column_cancel"><%= link_to "cancel", dashboards_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 

</div>