<div class="page_title">
    <h1>Employee Details</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">

            <div class="column_sub_content">
                <div class="column_form">
                      
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Name:</label>                        
                            <div class="column_line_show"><%= @user.name %></div>
                        </div>                       
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Email:</label>                        
                            <div class="column_line_show"><%= @user.email %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Tel:</label>                        
                            <div class="column_line_show"><%= @user.tel %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_line_show"><%= @user.last_sign_in_at.strftime("%A %-d %B %Y") %></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_cancel"><%= link_to 'Back', users_path %></div>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>