<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row-fluid">
    <div class="span4 well">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <fieldset>          
          <%= devise_error_messages! %>
            <div class="form-group">
                <label class="control-label">First Name
                    <div class="help_tooltip" id="1"></div>
                </label>         
                <%= f.text_field :first_name, autofocus: true, :class=>"form-control"  %>
            </div>

            <div class="form-group">
                <label class="control-label">Surname
                    <div class="help_tooltip" id="1"></div>
                </label>         
            <%= f.text_field :surname, :class=>"form-control"  %>
            </div>
            
            <div class="form-group">
                <label class="control-label">Email
                    <div class="help_tooltip" id="2"></div>
                </label>         
            <%= f.email_field :email, :class=>"form-control"  %>
            </div>
                    
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
            
            <div class="form-group">
                <label class="control-label">New Password (leave blank if you don't want to change it)
                    <div class="help_tooltip" id="4"></div>
                </label>          
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control"  %>
            </div>
                        
            <div class="form-group">
                <label class="control-label">Confirm Password
                    <div class="help_tooltip" id="5"></div>
                </label>          
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control"  %>
            </div>
            
            <div class="form-group">
                <label class="control-label">Current Password (we need your current password to confirm your changes)
                    <div class="help_tooltip" id="6"></div>
                </label>            
            <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control" %>
            </div>
                    
            <div class="form-actions">
              <%= f.submit "Update", class: "btn btn-success"  %>
            </div>
        </fieldset>
        <% end %>
    </div>
</div>
