<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item =>@company} %>

            <%= form_for(@company, :html => {:multipart => true} ) do |f| %>
    
            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company"></div>
                        <label class="label_80">Company Name:*</label>
                        <span>
                            <%= f.text_field :name %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_logo"></div>
                        <label class="label_80">Logo:</label>
                        <% if @company.logo? %>
                            <span>
                                <%= image_tag(@company.logo_url(:thumb), {:height => "25px"}) %>
                            </span></br>
                            <!-- form input[text] --> 
                            <label class="label_80"></label>
                            <span>
                                <%= f.file_field :logo %>
                            </span></br>
                        <% else %>
                            <span>
                                <%= f.file_field :logo %>
                            </span></br>
                        <% end %>

                    </fieldset>
                </div>
                <div class="sub-1-3 column_2">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_address_1"></div>
                        <label class="label_80">Address 1:</label>
                        <span>
                            <%= f.text_field :address_1 %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_address_2"></div>
                        <label class="label_80">Address 2:</label>
                        <span>
                            <%= f.text_field :address_2 %>
                        </span></br>
    
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_city"></div>
                        <label class="label_80">City:</label>
                        <span>
                            <%= f.text_field :city %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_county"></div>
                        <label class="label_80">County:</label>
                        <span>
                            <%= f.text_field :county %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_postcode"></div>
                        <label class="label_80">Postcode:</label>
                        <span>
                            <%= f.text_field :postcode %>
                        </span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_phone"></div>
                        <label class="label_80">Tel:</label>
                        <span>
                            <%= f.text_field :phone %>
                        </span></br>
    
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_alt_phone"></div>
                        <label class="label_80">Alt. Tel:</label>
                        <span>
                            <%= f.text_field :alt_phone %>
                        </span></br>
    
                        <!-- form input[email] --> 
                        <div class="form_tooltip" id="company_email"></div>
                        <label class="label_80">E-mail:</label>
                        <span>
                            <%= f.email_field :email, {placeholder: 'e.g. demo@example.com'} %>
                        </span></br>
                        
                    </fieldset>                                        
                </div>
                <div class="sub-1-3 column_3">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_reg_no"></div>
                        <label class="label_80">Registration No:</label>
                        <span>
                            <%= f.text_field :reg_no %>
                        </span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="company_vat_no"></div>
                        <label class="label_80">VAT No:</label>
                        <span>
                            <%= f.text_field :vat_no %>
                        </span></br>

                    </fieldset>
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <% if current_user.admin? %>
                        <%= link_to "cancel", companies_path %>
                    <% else %>
                        <%= link_to "cancel", dashboards_path %>
                    <% end %>
                </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>