<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

            <div class="row">
            	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <fieldset>

                    <div class="row">
                        <div class="column_title">
                            <h3>Login</h3>
                        </div>
                    </div>

                    <!-- form input[email] --> 
                    <div class="form_tooltip" id="registration_email"></div>
                    <label class="label_100">E-mail:*</label>
                    <span>
                        <%= f.email_field :email, autofocus: true %>
                    </span></br>

                    <!-- form input[text] -->
                    <div class="form_tooltip" id="registration_password"></div>
                    <label class="label_100">Password:*</label>
                    <span>
                        <%= f.password_field :password, autocomplete: "off" %>
                    </span></br>

               </fieldset>
            </div>

<%= render "devise/shared/links" %>

<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "Sign in"%>
                </div>
            </div>
                <% end %>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column">

            <div class="row">
                <div class="column_title">
                    <h3>Create an Account</h3>
                </div>
            </div>

        </div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column">
        </div>
    </div>
</div>