<div class="container">

    <div class="list-group">
      <a class="list-group-item list-group-item-info" ref="#"><span class="badge pull-right">£100,000</span>Calculated Balance:</a>
      <a class="list-group-item list-group-item-info" ref="#"><span class="badge pull-right">£100,000</span>Debtors:</a> 
      <a class="list-group-item list-group-item-info" ref="#"><span class="badge pull-right">£100,000</span>Creditors:</a> 
      <a class="list-group-item list-group-item-info" ref="#"><span class="badge pull-right">£100,000</span>Projected Balance:</a>  
    </div>


    <div class="list-group">
      <%= link_to "Clients", nil, class: "list-group-item list-group-item-info" %>
      <%= link_to "Jobs/Projects", nil, class: "list-group-item list-group-item-info" %>
      <%= link_to "Invoices", nil, class: "list-group-item list-group-item-info" %>
      <%= link_to "Payments", nil, class: "list-group-item list-group-item-info" %>
      <%= link_to "Expenses", nil, class: "list-group-item list-group-item-info" %>     
    </div>
    <div class="list-group">
      <%= link_to "E-commerce Admin", nil, class: "list-group-item list-group-item-info" %>   
    </div>
</div>